- provide(:title, "#{@user.f_name} #{@user.l_name}")
- provide(:search_attr, "member_code")
- provide(:search_title, "รหัสสมาชิกของผู้แนะนำ")

.container
  -# breadcrumb
  - if current_user.is_admin?
    = gen_breadcrumb({"หน้าแรก" => root_path, "สมาชิกทั้งหมด" => users_path, "โปรไฟล์ของ#{@user.f_name}" => "active"})
  - else
    = gen_breadcrumb({"หน้าแรก" => root_path, "โปรไฟล์ของ#{@user.f_name}" => "active"})

  .page-header
    %h1
      โปรไฟล์
      %small= "ของ#{@user.f_name}"
      - if current_user?(@user) || (current_user.is_admin?)
        -# edit user btn
        %a{:href => edit_user_path(@user), class: "btn btn-primary btn-fab btn-fab-mini", data: {toggle: "tooltip", placement: "right"}, title: "แก้ไขโปรไฟล์"}
          %i.fa.fa-pencil

        - if current_user.is_admin? && !current_user?(@user)
          -# destroy user btn
          %a.btn.btn-danger.btn-fab.btn-fab-mini{:href => user_path(@user), data: {toggle: "tooltip", placement: "right", method: "delete", confirm: "คุณต้องการลบสมาชิก คุณ#{@user.f_name}"}, title: "ลบสมาชิก"}
            %i.fa.fa-trash

  .row
    -# user information
    .col-md-6
      .panel.panel-default
        .panel-body
          .col-xs-12.col-sm-4.col-md-6
            -# show image
            = gravatar_for(@user, {size: 200})
          .col-xs-12.col-sm-8.col-md-6
            -# show name
            %h4= "คุณ#{@user.f_name} #{@user.l_name}"
            -# show member code
            %p= "รหัสสมาชิก : #{@user.member_code}" if @user.role != "admin"
            -# show address
            %p
              %i.fa.fa-map-marker
              = "#{@user.address} #{@user.city} #{@user.state} #{@user.postal_code}"
            -# show email
            %p
              %i.fa.fa-envelope
              = @user.email
            -# show phone
            %p
              %i.fa.fa-phone
              = @user.phone
            -# show line id
            %p= "Line ID : #{@user.line}"


    .col-md-6
      -# position
      .col-md-12
        .panel.panel-default
          .panel-heading
            %h3.panel-title.center ตำแหน่ง
          .panel-body
            %h2.center= @user.position.name.capitalize

      -# sponser
      .col-md-12
        .panel.panel-default
          .panel-heading
            %h3.panel-title.center ผู้แนะนำ
          .panel-body

            - if @user.upline
              = render partial: "relations/form_disabled", locals: {sponser: @user.upline}
            - else
              %p.center ไม่มีผู้แนะนำ

            - if current_user.is_admin?
              - if @user.upline
                .col-xs-6
                  %a.btn.btn-default.btn-block{:href => edit_relation_path(Relation.find_by("sponsered" => @user))}
                    %i.fa.fa-pencil
                    แก้ไข
                .col-xs-6
                  %a.btn.btn-danger.btn-block{:href => relation_path(Relation.find_by("sponsered" => @user)), data: {method: 'delete'}}
                    %i.fa.fa-trash
                    ลบ
              - else
                %a.btn.btn-primary.btn-block{:href => new_relation_path(sponsered_id: @user.id)}
                  %i.fa.fa-plus
                  เพิ่มผู้แนะนำ

:javascript
  $("#search-sponser").hide();
  var toggle_search_sponser = function (){
    $("#search-sponser").toggle("slow");
  }
